.form-inline{
    padding: 50px;
}

.form-group{
    margin: 10px;
}

.mainadd{
    margin:50px;
}

.addbtn{
    padding: 45px;
}

.submit-btn{
    border:2px solid;
    border-color:#586575;
}

.submit-btn2{
   background-color: #586575;
   color: whitesmoke;
   width: 150px;
}

.submit-btn3{
    color: #586575;
    width: 150px;
 }

 .submit-btn4{
    background-color: #586575;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    padding: 50px;
 }

 .banner-continer{
    height:1vw;  
    width: 80%;
    position:fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    
 }

 .imgs{
    width: 100%;
    /* border: #586575 solid 2px;
    box-shadow: #586575 0px 0px 10px;
    border-radius: 5px; */
}
.carousel-caption{
    background-color: #586575;
    color: whitesmoke;
    border-radius: 5px;
    opacity: 0.8;
    font-size: medium;
}